<% include ../include/header_admin.ejs %>
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Classes</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/admin/index">Home</a></li>
                            <li>Class Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Class Details Area Start-->

<div class="class-details-area section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="class-details-container">
                    <h1><%=classInfo.name%></h1>
                    <div class="class-details-carousel carousel-style-one" style="height: 501px;">
                        <img src="<%=classInfo.picture%>" alt="">
                    </div>
                </div>
                <div class="class-details-tab">
                    <div class="class-details-tab-menu">
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="overview" href="#overview"><i class="fa fa-graduation-cap"></i>Overview</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active" role="tabpanel">
                            <%if(classInfo.description!== null){%>
                            <h3>COURSE DESCRIPTION</h3>
                            <p><%=classInfo.description%></p>
                            <%}%>
                            <h3>LEARNING OUTCOMES</h3>
                            <div class="tab-info">
                                <%outcomes.forEach(function(outcome){%>
                                <span class="icon"><%=outcome%></span>
                                <%})%>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Info Classes</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="class-infos">
                            <%if(classInfo.startDate !== null){%>
                            <li><i class="fa fa-calendar"></i>Start Date: <%=classInfo.startDate%></li>
                            <%}%>
                            <%if(classInfo.target !== null){%>
                            <li><i class="fa fa-birthday-cake"></i>Years Old: <%=classInfo.target%></li>
                            <%}%>
                            <%if(classInfo.total !== null){%>
                            <li><i class="fa fa-bank"></i>Class Size: <%=classInfo.total%></li>
                            <%}%>
                            <%if(classInfo.fee !== null){%>
                            <li><i class="fa fa-money"></i>Fee: <%=classInfo.fee%></li>
                            <%}%>
                        </ul>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Teachers</h3>
                    </div>
                    <div class="single-widget-container">
                        <div class="teacher-info-widget">
                            <div class="widget-image">
                                <a href="/admin/teachaerInfo/<%=mainTeacher.no%>"><img src="<%=mainTeacher.picture%>" alt=""></a>
                            </div>
                            <div class="widget-infos">
                                <h4><a href="/admin/teachaerInfo/<%=mainTeacher.no%>"><%=mainTeacher.name%></a></h4>
                                <p>Teacher1</p>
                            </div>
                        </div>
                        <%if(subTeacher !== null){%>
                        <div class="teacher-info-widget">
                            <div class="widget-image">
                                <a href="/admin/teachaerInfo/<%=subTeacher.no%>"><img src="<%=subTeacher.picture%>" alt=""></a>
                            </div>
                            <div class="widget-infos">
                                <h4><a href="/admin/teachaerInfo/<%=subTeacher.no%>"><%=subTeacher.name%></a></h4>
                                <p>Teacher2</p>
                            </div>
                        </div>
                        <%}%>
                    </div>
                    <div class="single-widget-item">
                        <div style="text-align: center;">
                            <a href="/admin/updateClass/<%=classInfo.no%>" class="btn btn-primary" style="width: 150px; background-color: #f57b20; border: none;">Update</a>
                            <br><br>
                            <button class="btn btn-danger" style="width: 150px; border: none;" id="deleteClass">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" value = "<%=classInfo.no%>" id="classNo">
<!--End of Class Details Area-->
<!--Class Area Start-->

<!--End of Class Area-->

<% include ../include/footer_admin.ejs %>
<script>
    $("#deleteClass").click(function () {
        if(confirm('Are you sure delete class?')){
            var no = $("#classNo").val();

            $.ajax({
                url: '/admin/deleteClass',
                type: 'POST',
                data: {no:no}
            }).done(function (result) {
                if(result === 'success') {
                    alert('delete success!');
                    location.href = '/admin/classList';
                }else{
                    alert(result);
                }
            }).fail(function (err) {
                console.error(err);
            });
        }
    })
</script>