<% include ../include/header_admin.ejs %>

<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Notice</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/admin/index">Home</a></li>
                            <li>Notice</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--About Area Start-->
<div class="about-area section-padding-bottom" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div style="text-align: right">
                    <p>Total <%=messageCount%></p>
                </div>
                <table class="table table-striped" style="text-align: center; border-bottom: 1px solid #ddd">
                    <tr>
                        <th style="text-align: center">No</th>
                        <th style="text-align: center">Subject</th>
                        <th style="text-align: center">name</th>
                        <th style="text-align: center">email</th>
                    </tr>
                    <% messageList.forEach(function(message){ %>
                    <tr>
                        <td style="width: 10%">
                            <%= message.no%>
                        </td>
                        <td style="width: 60%">
                            <a href="/admin/message/detail/<%= message.no %>">
                                <%= message.subject %>
                            </a>
                        </td>
                        <td style="width: 10%">
                            <%=message.name%>
                        </td>
                        <td style="width: 20%">
                            <%=message.email%>
                        </td>
                    </tr>
                    <% }); %>
                </table>
                    <div class="pagination-content">
                        <div class="pagination-button">
                            <ul class="pagination">
                                <li>
                                    <a href="<%= paginate.href(true) %>" aria-label="Previous">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <% pages.forEach(function(page){ %>
                                <li class="<%= paginate.page == page.number ? 'current' : '' %>">
                                    <a href="<%= page.url %>"><%= page.number %></a>
                                </li>
                                <% }) %>

                                <li>
                                    <a href="<%= paginate.href() %>">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
            </div>
            <div style="text-align: center">
                <a href="/admin/writeNotice" class="btn btn-primary">Write Notice</a>
            </div>
            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Recent Events</h3>
                    </div>
                    <div class="single-widget-container">
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/img/gallery/15.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Alphabet Match Class</a></h4>
                                <span><i class="fa fa-calendar"></i>March 25, 2016</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<!--End of About Area-->


<% include ../include/footer_admin.ejs %>