<% include ../include/header_admin.ejs %>
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Register Schedule</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/admin/index">Home</a></li>
                            <li>Class</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Class Details Area Start-->
<div class="class-details-area section-padding-top">
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    <th style="text-align: center">MON</th>
                    <th style="text-align: center">TUE</th>
                    <th style="text-align: center">WED</th>
                    <th style="text-align: center">THU</th>
                    <th style="text-align: center">FRI</th>
                </tr>
                <tr>
                    <td style="text-align: center">2:00 pm</td>
                    <td id="1-M" class="selected-table">
                    </td>
                    <td id="1-T" class="selected-table"></td>
                    <td id="1-W" class="selected-table"></td>
                    <td id="1-TH" class="selected-table"></td>
                    <td id="1-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">2:30 pm</td>
                    <td id="2-M" class="selected-table"></td>
                    <td id="2-T" class="selected-table"></td>
                    <td id="2-W" class="selected-table"></td>
                    <td id="2-TH" class="selected-table"></td>
                    <td id="2-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">3:00 pm</td>
                    <td id="3-M" class="selected-table"></td>
                    <td id="3-T" class="selected-table"></td>
                    <td id="3-W" class="selected-table"></td>
                    <td id="3-TH" class="selected-table"></td>
                    <td id="3-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">3:30 pm</td>
                    <td id="4-M" class="selected-table"></td>
                    <td id="4-T" class="selected-table"></td>
                    <td id="4-W" class="selected-table"></td>
                    <td id="4-TH" class="selected-table"></td>
                    <td id="4-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">4:00 pm</td>
                    <td id="5-M" class="selected-table"></td>
                    <td id="5-T" class="selected-table"></td>
                    <td id="5-W" class="selected-table"></td>
                    <td id="5-TH" class="selected-table"></td>
                    <td id="5-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">4:30 pm</td>
                    <td id="6-M" class="selected-table"></td>
                    <td id="6-T" class="selected-table"></td>
                    <td id="6-W" class="selected-table"></td>
                    <td id="6-TH" class="selected-table"></td>
                    <td id="6-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">5:00 pm</td>
                    <td id="7-M" class="selected-table"></td>
                    <td id="7-T" class="selected-table"></td>
                    <td id="7-W" class="selected-table"></td>
                    <td id="7-TH" class="selected-table"></td>
                    <td id="7-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">5:30 pm</td>
                    <td id="8-M" class="selected-table"></td>
                    <td id="8-T" class="selected-table"></td>
                    <td id="8-W" class="selected-table"></td>
                    <td id="8-TH" class="selected-table"></td>
                    <td id="8-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">6:00 pm</td>
                    <td id="9-M" class="selected-table"></td>
                    <td id="9-T" class="selected-table"></td>
                    <td id="9-W" class="selected-table"></td>
                    <td id="9-TH" class="selected-table"></td>
                    <td id="9-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">6:30 pm</td>
                    <td id="10-M" class="selected-table"></td>
                    <td id="10-T" class="selected-table"></td>
                    <td id="10-W" class="selected-table"></td>
                    <td id="10-TH" class="selected-table"></td>
                    <td id="10-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">7:00 pm</td>
                    <td id="11-M" class="selected-table"></td>
                    <td id="11-T" class="selected-table"></td>
                    <td id="11-W" class="selected-table"></td>
                    <td id="11-TH" class="selected-table"></td>
                    <td id="11-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">7:30 pm</td>
                    <td id="12-M" class="selected-table"></td>
                    <td id="12-T" class="selected-table"></td>
                    <td id="12-W" class="selected-table"></td>
                    <td id="12-TH" class="selected-table"></td>
                    <td id="12-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">8:00 pm</td>
                    <td id="13-M" class="selected-table"></td>
                    <td id="13-T" class="selected-table"></td>
                    <td id="13-W" class="selected-table"></td>
                    <td id="13-TH" class="selected-table"></td>
                    <td id="13-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">8:30 pm</td>
                    <td id="14-M" class="selected-table"></td>
                    <td id="14-T" class="selected-table"></td>
                    <td id="14-W" class="selected-table"></td>
                    <td id="14-TH" class="selected-table"></td>
                    <td id="14-F" class="selected-table"></td>
                </tr>
                <tr>
                    <td style="text-align: center">9:00 pm</td>
                    <td id="15-M" class="selected-table"></td>
                    <td id="15-T" class="selected-table"></td>
                    <td id="15-W" class="selected-table"></td>
                    <td id="15-TH" class="selected-table"></td>
                    <td id="15-F" class="selected-table"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="img_modal_title">Add Schedule</h4>
            </div>

            <div class="modal-body form-group">
                <h4>Class Name</h4>
                <select class="form-control" id="schedule_class" style="margin-top: 15px;">
                    <option selected="selected" value="">Select Class</option>
                    <% classes.forEach(function(value){%>
                    <option value="<%=value.name%>"><%=value.name%></option>
                    <%});%>
                </select>
                <br>
                <input type="hidden" value="" id="schedule_code">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="add_schedule_submit">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>



<!--End of Class Area-->
<% include ../include/footer_admin.ejs %>

<script src="/js/admin.js">

</script>

<script>
    <%schedules.forEach(function(schedule){%>
        var code = '<%=schedule.code%>';
        var classname = '<%=schedule.classname%>';

        $("#"+code).append(
            `<sapn class="schedule_attr" id="<%=schedule.no%>">${classname}</sapn><br>`
        )
    <%})%>
</script>