<% include ../include/header.ejs %>
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area gallery body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Gallery</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Gallery Area Start-->
<div class="gallery-area section-padding gallery-full-width body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filter-menu">
                    <ul>
                        <li class="filter" data-filter="all">All</li>
                        <%categories.forEach(function(category){%>
                        <li class="filter" data-filter=".<%=category.DISTINCT%>"><%=category.DISTINCT%></li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="filter-items">
                <%galleryList.forEach(function (gallery){%>
                <div class="mix single-items <%=gallery.category%> col-md-4 col-sm-6 col-xs-12 overlay-hover">
                    <div class="overlay-effect">
                        <a><img src="<%=gallery.img%>" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="<%=gallery.img%>"><i class="fa fa-image"></i></a>
                            <span class="gallery-text"><%=gallery.comment%></span>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
            <div class="col-md-12">
                <div class="pagination-content">
                    <div class="pagination-button">
                        <ul class="pagination">
                            <li>
                                <a href="<%= paginate.href(true) %>" aria-label="Previous">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <% pages.forEach(function(page){ %>
                            <li class="<%= paginate.page == page.number ? 'current' : '' %>">
                                <a href="<%= page.url %>"><%= page.number %></a>
                            </li>
                            <% }) %>
                            <li>
                                <a href="<%= paginate.href() %>">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Gallery Area-->
<% include ../include/footer.ejs %>