<% include ./include/header.ejs %>
<!--End of Header Area-->
<%if(isPopup){%>
<div class="modal2" id="detailModal">
    <div class="blackBg on"></div>
    <div class="modalBox">
        <div class="imageBox">
            <img src="/img/popup.png" alt="detail page image"/>
        </div>
        <div class="btnBox">
            <div style="width: 100%">
                <button type="button" class="modalBtn modalBtn1" onclick="closeModal('detailModal');">확인</button>
                <button type="button" class="modalBtn modalBtn1" onclick="closePopupNotToday('detailModal')">오늘 그만보기</button>
            </div>

        </div>
    </div> <!-- END modalBox-->
</div> <!-- END modal-->
<%}%>
<!--Slider Area Start-->
<div class="slider-area">
    <div class="preview-2">
        <div id="nivoslider" class="slides">
            <img src="/img/main1.png" alt="" title="#slider-1-caption1"/>
            <img src="/img/main2.png" alt="" title="#slider-1-caption2"/>
        </div>
        <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content hidden-xs">
                                <h1 class="title1"><%= contents.slide1.title %></h1>
                                <p class="sub-title"><%= contents.slide1.text %></p>
                                <div class="banner-readmore">
                                    <a title="Read more" href="/application">Enroll your child</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content slide-2 hidden-xs">
                                <h1 class="title1"><%= contents.slide2.title %></h1>
                                <p class="sub-title"><%= contents.slide2.text %></p>
                                <div class="banner-readmore">
                                    <a title="Read more" href="/application">Enroll your child</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Slider Area-->
<!--Activity Area Start-->
<div class="activity-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon" id="act1">

                    </div>
                    <h4>Speaking</h4>
                    <p>Students conquer their shyness
                        and feel comfortable.
                        Speaking English infront of others.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon" id="act2">

                    </div>
                    <h4>Reading</h4>
                    <p>Learning new vocabulary and
                        content comes from reading funny!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon" id="act3">

                    </div>
                    <h4>Listening</h4>
                    <p>This passive skill is strong in many
                        Korean Learners but using integrated
                        techniques, it will become important in
                        conversation.
                    </p>
                </div>
            </div>
            <div class="col-md-3 hidden-sm activity">
                <div class="single-activity">
                    <div class="single-activity-icon" id="act4">

                    </div>
                    <h4>Writing</h4>
                    <p>Although this academic skill
                        is often the most challenging,
                        it is mandatory to master writing in
                        today’s global world.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Activity Area-->
<!--Advertise Area Start-->
<div class="advertise-area text-center section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>How to <span>start</span> the <span>enrollment process</span>?</h2>
                <a href="/application">Join Us</a>
            </div>
        </div>
    </div>
</div>
<!--End of Advertise Area-->
<!--Class Area Start-->
<div class="class-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Classes</h3>
                        <p>Our preschool program has six dedicated classes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="class-carousel carousel-style-one">
                <% classes.forEach(function(classInfo){ %>
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="/classInfo/<%= classInfo.no %>">
                                <img src="<%= classInfo.picture %>" alt="">
                                <span class="class-date"><%= classInfo.startDate %></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des" style="height: 260px;">
                                <h4><a href="/classInfo/<%= classInfo.no %>"><%= classInfo.name %></a></h4>
                                <%if(classInfo.description.length >389){%>
                                    <p><%= classInfo.description.substring(0, 389)+ '...' %>&nbsp;</p>
                                <%}else{%>
                                    <p><%= classInfo.description %>&nbsp;</p>
                                <%}%>
                            </div>
                            <div class="class-schedule">
                                <span style="width: 50%">AGE: <%= classInfo.target %></span>
                                <span style="width: 50%">CLASS SIZE: <%= classInfo.total %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!--End of Class Area-->

<!--Service Area Start-->
<div class="service-area section-padding section-gray" style="background-color: #F0F0F0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Services</h3>
                        <p>What GIA Offers Your Student</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="single-service-item-wrapper">
                    <div class="single-service-item">
                        <div class="single-service-text">
                            <h4>Language Lessons</h4>
                            <p>This is your student's chance to learn English through a curriculum designed and monitored by ESL professionals - join the international community!</p>
                        </div>
                        <div class="single-service-icon">
                            <i class="fa fa-language"></i>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-text">
                            <h4>Benchmark Testing</h4>
                            <p>How will parents know their students are improving? Regular proficiency tests are administered at GIA, and students' progress is documented in a portfolio that they can take with them when they leave.</p>
                        </div>
                        <div class="single-service-icon">
                            <i class="fa fa-file"></i>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-text">
                            <h4>Reading Fluency</h4>
                            <p>Fluency is the ability to read "like you speak." Hudson, Lane, and Pullen define fluency this way: "Reading fluency is made up of at least three key elements: accurate reading of connected text at a conversational rate with appropriate prosody or expression."</p>
                        </div>
                        <div class="single-service-icon">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="service-image">
                    <img src="/img/service.png" alt="">
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-service-item-wrapper">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="single-service-text">
                            <h4>Flexible Class Schedule</h4>
                            <p>You can choose what schedule works best for your family. Some students like a more intensive course, while others need to study at a slower pace - you decide!</p>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="single-service-text">
                            <h4>Native and Bilinguial Teachers</h4>
                            <p>It is important to learn with context, which is what our bilingual teachers can provide. However, it is also important to hear the language spoken naturally and conversationally, which is what our native English-speaking instructors contribute.</p>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="fa fa-commenting-o"></i>
                        </div>
                        <div class="single-service-text">
                            <h4>Progressive Feedback</h4>
                            <p>Parents, students, and teachers stay connected at GIA through report cards, benchmark testing, and regular communication. Don't feel like you are in the dark - come to GIA!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Eㅇnd of Service Area-->
<!--Fun Factor Area Start-->
<div class="fun-factor-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="single-fun-factor">
                    <div class="fun-factor-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h2><span class="counter"><%= teachers.length %></span></h2>
                    <span>Teacher</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="single-fun-factor">
                    <div class="fun-factor-icon">
                        <i class="fa fa-bank"></i>
                    </div>
                    <h2><span class="counter"><%= classes.length %></span></h2>
                    <span>Class</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="single-fun-factor">
                    <div class="fun-factor-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <h2><span class="counter"><%= totals %></span></h2>
                    <span>Total Student Capacity</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Fun Factor Area-->
<!--Teachers Area Start-->
<div class="teachers-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Teachers</h3>
                        <p>We are glad to introduce our professional staff</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="teacher-image">
                    <img src="/img/teacherIntro.png" alt="">
                </div>
            </div>

            <div class="col-md-6">
                <div class="testimonial-image-text-wrapper">
                    <div class="testimonial-image-slider text-center">
                        <% teachers.forEach(function(teacher){ %>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="<%= teacher.picture %>" alt="teacher <%= teacher.no %>"/>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <div class="testimonial-text-slider">
                        <% teachers.forEach(function(teacher){ %>
                        <div class="sin-testiText">
                            <h2><%= teacher.name %></h2>
                            <span class="language"><%= teacher.role %></span>
                            <div class="teacher-info-container">
                                <%if(teacher.exList){%>
                                <%teacher.exList.forEach(function(ex){%>
                                    <%if(ex && ex!==''){%>
                                    <p><i class="fa fa-star"></i>Experience: <%=ex%></p>
                                    <%}%>
                                <%})%>
                                <%}%>
                            </div>
                            <p><%= teacher.intro %></p><br>
                            <a href="/teacherInfo/<%= teacher.no %>" class="button-default">View Profile</a>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Teachers Area-->
<!--Gallery Area Start-->
<div class="gallery-area section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Gallery</h3>
                        <p>Discover Our GIA Photo Gallery</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gallery-row">
            <div class="filter-items">
                <% galleryList.forEach(function (gallery){ %>
                <div class="mix single-items <%= gallery.category %> col-md-3 col-sm-6 col-xs-12 overlay-hover">
                    <div class="overlay-effect">
                        <a><img src="<%= gallery.img %>" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="<%= gallery.img %>"><i class="fa fa-image"></i></a>
                            <span class="gallery-text"><%= gallery.comment %></span>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="view-gallery text-center">
                    <h4>See Our GIA <span>Photo Gallery!</span></h4>
                    <a href="/gallery" class="button-default">View Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Gallery Area-->

<% include ./include/footer.ejs %>
<script>
    function initialize() {
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: new google.maps.LatLng(35.062195, 128.069394)
        };
        var map = new google.maps.Map(document.getElementById('googleMap'),
            mapOptions);


        var marker = new google.maps.Marker({
            position: map.getCenter(),
            animation: google.maps.Animation.BOUNCE,
            icon: '/img/map-marker.png',
            map: map
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>
