<% include ../include/header.ejs %>
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area teachers body-top" style="background: url('/img/faculty_back.png')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Teachers</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Teachers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Teacher Fullwidth Area Start-->
<div class="teacher-fullwidth-area section-padding">
    <div class="container">
        <div class="row">
            <%teachers.forEach(function(teacher){%>
            <div class="col-md-3 col-sm-4">
                <div class="single-teachers-column text-center">
                    <div class="teachers-image-column">
                        <a href="/teacherInfo/<%=teacher.no%>">
                            <img src="<%=teacher.picture%>" alt="">
                            <span class="image-hover">
                                        <span><i class="fa fa-edit"></i>View Profile</span>
                                    </span>
                        </a>
                    </div>
                    <div class="teacher-column-carousel-text">
                        <h4><%=teacher.name%></h4>
                        <%if(teacher.role !== null ){%>
                        <span><%=teacher.role%></span>
                        <%}%>
                        <%if(teacher.intro !== null){%>
                        <p><%=teacher.intro%></p>
                        <%}%>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</div>
<!--End of Teacher Fullwidth Area-->
<% include ../include/footer.ejs %>