<% include ../include/header.ejs %>
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Classes</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Class</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Class Details Area Start-->
<div class="class-details-area section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="class-details-container">
                    <h1><%=classInfo.name%></h1>
                    <div class="class-details-carousel carousel-style-one">
                        <img src="<%=classInfo.picture%>" alt="">
                    </div>
                </div>
                <div class="class-details-tab">
                    <div class="class-details-tab-menu">
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="overview" href="#overview"><i class="fa fa-graduation-cap"></i>Overview</a></li>
                            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="schedule" href="#schedule"><i class="fa fa-calendar"></i>Week Courses Schedule</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active" role="tabpanel">
                            <%if(classInfo.description!== null){%>
                            <h3>COURSE DESCRIPTION</h3>
                            <p><%=classInfo.description%></p>
                            <%}%>
                            <h3>LEARNING OUTCOMES</h3>
                            <div class="tab-info">
                                <%outcomes.forEach(function(outcome){%>
                                <span class="icon"><%=outcome%></span>
                                <%})%>
                            </div>
                        </div>
                        <div id="schedule" class="tab-pane" role="tabpanel">
                            <div class="table-content table-responsive">
                                <table class="table table-bordered" id="classInfo_schedule">
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center">MON</th>
                                        <th style="text-align: center">TUE</th>
                                        <th style="text-align: center">WED</th>
                                        <th style="text-align: center">THU</th>
                                        <th style="text-align: center">FRI</th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">2:00 pm</td>
                                        <td id="1-M" class="schedule_td">
                                        </td>
                                        <td id="1-T" class="schedule_td"></td>
                                        <td id="1-W" class="schedule_td"></td>
                                        <td id="1-TH" class="schedule_td"></td>
                                        <td id="1-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">2:30 pm</td>
                                        <td id="2-M" class="schedule_td"></td>
                                        <td id="2-T" class="schedule_td"></td>
                                        <td id="2-W" class="schedule_td"></td>
                                        <td id="2-TH" class="schedule_td"></td>
                                        <td id="2-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">3:00 pm</td>
                                        <td id="3-M" class="schedule_td"></td>
                                        <td id="3-T" class="schedule_td"></td>
                                        <td id="3-W" class="schedule_td"></td>
                                        <td id="3-TH" class="schedule_td"></td>
                                        <td id="3-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">3:30 pm</td>
                                        <td id="4-M" class="schedule_td"></td>
                                        <td id="4-T" class="schedule_td"></td>
                                        <td id="4-W" class="schedule_td"></td>
                                        <td id="4-TH" class="schedule_td"></td>
                                        <td id="4-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">4:00 pm</td>
                                        <td id="5-M" class="schedule_td"></td>
                                        <td id="5-T" class="schedule_td"></td>
                                        <td id="5-W" class="schedule_td"></td>
                                        <td id="5-TH" class="schedule_td"></td>
                                        <td id="5-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">4:30 pm</td>
                                        <td id="6-M" class="schedule_td"></td>
                                        <td id="6-T" class="schedule_td"></td>
                                        <td id="6-W" class="schedule_td"></td>
                                        <td id="6-TH" class="schedule_td"></td>
                                        <td id="6-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">5:00 pm</td>
                                        <td id="7-M" class="schedule_td"></td>
                                        <td id="7-T" class="schedule_td"></td>
                                        <td id="7-W" class="schedule_td"></td>
                                        <td id="7-TH" class="schedule_td"></td>
                                        <td id="7-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">5:30 pm</td>
                                        <td id="8-M" class="schedule_td"></td>
                                        <td id="8-T" class="schedule_td"></td>
                                        <td id="8-W" class="schedule_td"></td>
                                        <td id="8-TH" class="schedule_td"></td>
                                        <td id="8-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">6:00 pm</td>
                                        <td id="9-M" class="schedule_td"></td>
                                        <td id="9-T" class="schedule_td"></td>
                                        <td id="9-W" class="schedule_td"></td>
                                        <td id="9-TH" class="schedule_td"></td>
                                        <td id="9-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">6:30 pm</td>
                                        <td id="10-M" class="schedule_td"></td>
                                        <td id="10-T" class="schedule_td"></td>
                                        <td id="10-W" class="schedule_td"></td>
                                        <td id="10-TH" class="schedule_td"></td>
                                        <td id="10-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">7:00 pm</td>
                                        <td id="11-M" class="schedule_td"></td>
                                        <td id="11-T" class="schedule_td"></td>
                                        <td id="11-W" class="schedule_td"></td>
                                        <td id="11-TH" class="schedule_td"></td>
                                        <td id="11-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">7:30 pm</td>
                                        <td id="12-M" class="schedule_td"></td>
                                        <td id="12-T" class="schedule_td"></td>
                                        <td id="12-W" class="schedule_td"></td>
                                        <td id="12-TH" class="schedule_td"></td>
                                        <td id="12-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">8:00 pm</td>
                                        <td id="13-M" class="schedule_td"></td>
                                        <td id="13-T" class="schedule_td"></td>
                                        <td id="13-W" class="schedule_td"></td>
                                        <td id="13-TH" class="schedule_td"></td>
                                        <td id="13-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">8:30 pm</td>
                                        <td id="14-M" class="schedule_td"></td>
                                        <td id="14-T" class="schedule_td"></td>
                                        <td id="14-W" class="schedule_td"></td>
                                        <td id="14-TH" class="schedule_td"></td>
                                        <td id="14-F" class="schedule_td"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">9:00 pm</td>
                                        <td id="15-M" class="schedule_td"></td>
                                        <td id="15-T" class="schedule_td"></td>
                                        <td id="15-W" class="schedule_td"></td>
                                        <td id="15-TH" class="schedule_td"></td>
                                        <td id="15-F" class="schedule_td"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Info Classes</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="class-infos">
                            <%if(classInfo.startDate !== null){%>
                            <li><i class="fa fa-calendar"></i>Start Date: <%=classInfo.startDate%></li>
                            <%}%>
                            <%if(classInfo.target !== null){%>
                            <li><i class="fa fa-birthday-cake"></i>Years Old: <%=classInfo.target%></li>
                            <%}%>
                            <%if(classInfo.total !== null){%>
                            <li><i class="fa fa-bank"></i>Class Size: <%=classInfo.total%></li>
                            <%}%>
                            <%if(classInfo.fee !== null){%>
                            <li><i class="fa fa-money"></i>Fee: <%=classInfo.fee%></li>
                            <%}%>
                        </ul>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Teachers</h3>
                    </div>
                    <div class="single-widget-container">
                        <div class="teacher-info-widget">
                            <div class="widget-image">
                                <a href="/admin/teachaerInfo/<%=mainTeacher.no%>"><img src="<%=mainTeacher.picture%>" alt=""></a>
                            </div>
                            <div class="widget-infos">
                                <h4><a href="/admin/teachaerInfo/<%=mainTeacher.no%>"><%=mainTeacher.name%></a></h4>
                                <p>Teacher1</p>
                            </div>
                        </div>
                        <%if(subTeacher !== null){%>
                        <div class="teacher-info-widget">
                            <div class="widget-image">
                                <a href="/admin/teachaerInfo/<%=subTeacher.no%>"><img src="<%=subTeacher.picture%>" alt=""></a>
                            </div>
                            <div class="widget-infos">
                                <h4><a href="/admin/teachaerInfo/<%=subTeacher.no%>"><%=subTeacher.name%></a></h4>
                                <p>Teacher2</p>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Class Details Area-->

<!--End of Class Area-->
<% include ../include/footer.ejs %>

<script>
    <%schedules.forEach(function(schedule){%>
    var code = '<%=schedule.code%>';
    var classname = '<%=schedule.classname%>';

    $("#"+code).append(
        `<sapn>${classname}</sapn><br>`
    )
    <%})%>
</script>